@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import 'bootstrap';

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Gochi Hand', sans-serif;
}

.hover-display {
  .container, .container-fluid, .btn {
    visibility: hidden;
  }
  &:hover {
    .container, .container-fluid, .btn {
      visibility: visible;
    }
  }
}

.tap-control-panel {
  position: fixed;
  bottom: 0;
  left: 0;
}

.tap-item {
  padding-top:25vh;
  position: relative;
  float: left;
  width: 50%;

  .tap-filler {
    z-index: -2;
    top: 0;
    left: 0;
    transition: top 2s ease;
    width: 100%;
    position: absolute;
    background-color: #e8b888;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.coffee-label {
  text-align: center;
  position: relative;
  margin: auto;
  width: 200px;
  .label-filler {
    z-index: -1;
    top: 0;
    left: 0;
    width: 300px;
    margin-left: -50px;
    position: absolute;
    img {
      width: 100%;
      height: auto;
    }
  }
  .face {
    width: 100px;
    margin-left:50px;
    padding-top: 50px;
    padding-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
    .mouth {
      animation: facebounce 5s infinite;
    }
  }
}

@keyframes facebounce {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: -10px;
    transform: rotate(15deg);
  }
  66% {
    margin-left: 10px;
    transform: rotate(-15deg);
  }
}

.banner-flag-bar {
  top: 0;
  height: 100px;
  width: 100%;

  .banner-flag {
    position:relative;
    z-index: 5;
    display:block;
    margin: -22px auto;
    width: 150px;
  }
}

.location-tracker {
  border: 4px solid black;
  border-radius: 10px;
  a {
    color: #e8b888;
  }
  .panel-heading {
    background-color: black;
    color:white;
    .location-tracker-row {
      color:white;
      font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
      font-size: 1.5em;
    }
  }
  .panel-body {
    font-size: 1.25em;
  }
}
